<!-- 投资列表 -->
<section>

    <div class="nav_list">
        <ul>
            <li class="current" ng-click="alert('clicked')"><span>全部</span></li>
            <li ng-click="page.page=0"><span>银票理财</span></li>
            <li ng-click="page.page=1"><span>银商理财</span></li>
            <li ng-click="page.page=4"><span>转让项目</span></li>
            <li ng-click="page.page=5"><span>第三方平台</span></li>
        </ul>
        <div class="cl"></div>
    </div>


    <ul class="xm_list" ng-show="itemList">
        <li ng-repeat="item in itemList">
            <a ng-href="/invest/{{item.billId}}" class="content">
                <div class="Percentage wid25">
                    <div class="process-con"></div>
                    <div class="process-num">{{item.billPogress + '%'}}</div>
                </div>
                <div class="wid75">
                    <h3><span class="zhr">{{billTypeList[item.billType]}}</span>{{item.billName}}</h3>
                    <ul class="zxxm_ul">
                        <li><span class="nub_red">{{item.billApr}}</span> %
                            <br />年化收益率</li>
                        <li><span class="nub_red nub_glay">{{item.billDay}}</span> 天
                            <br />项目期限</li>
                        <li><span class="nub_red nub_glay">{{item.billMoney | number}}</span> 万
                            <br />融资金额</li>
                    </ul>
                </div>
                <div class="cl"></div>
            </a>
        </li>
    </ul>
</section>
<!-- 投资列表 END -->