<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-store, must-revalidate">
	<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
	<meta http-equiv="expires" content="0">
	<title>更多</title>
	<link rel="stylesheet" href="css/style.css"/>
	<script src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
	<!-- 头部 -->
	<header>
		<!--<a href="#" class="head_left">注册</a>-->
		<!--<a href="#" class="head_right">充值</a>-->
		<h1>更多</h1>
	</header>
	<!-- 头部END -->

	<!-- 我的账户 -->
	<section class="mc_list_ul touxiang">
		<ul>
			<li>
				<div class="tx_img">
					<img src="../asserts/icons/touxiang.png" alt="头像"/>
				</div>
				<div class="tx_ac">
					<h4>18722431105</h4>
					<!-- con_vip0 到 con_vip3 -->
					<span class="icon_tx icon_vip3"></span>
					<!-- con_vip0 到 con_vip1 -->
					<span class="sicon_tx icon_vip1"></span>
				</div>
			</li>
		</ul>
	</section>
	<section class="mc_list_ul gengduo">
		<ul>
			<li><a href="#" class="btn_list">
				<i class="icon_tub icon_tub1"></i> 消息中心
				<i class="icon_right"><span class="news_gd">16</span></i>
			</a></li>
			<li><a href="#" class="btn_list">
				<i class="icon_tub icon_tub2"></i> 公司介绍
				<i class="icon_right"></i>
			</a></li>
			<li><a href="#" class="btn_list">
				<i class="icon_tub icon_tub3"></i> 帮助中心
				<i class="icon_right"></i>
			</a></li>
			<!--<li><a href="#" class="btn_list">
				<i class="icon_tub icon_tub4"></i> 在线升级
				<i class="icon_right"></i>
			</a></li>-->
			<li><a href="#" class="btn_list">
				<i class="icon_tub icon_tub5"></i> 服务热线
				<i class="text_r">400-888-9858</i>
			</a></li>
			<li><a href="#" class="btn_list">
				<i class="icon_tub icon_tub6"></i> 官方QQ群
				<i class="text_r">336491232</i>
			</a></li>
			<li><a href="#" class="btn_list">
				<i class="icon_tub icon_tub7"></i> 官方微信
				<i class="icon_right"></i>
			</a></li>
		</ul>
	</section>
	<a href="#" class="btn_a">退出当前账号</a>
	<!-- 我的账户 END -->



	<!-- 底部导航 -->
	<footer>
		<div class="footer">
			<ul>
				<li><a href="#" class="current"><span class="foot_icon_1"></span><br />首 页</a></li>
				<li><a href="#"><span class="foot_icon_2"></span><br />投资理财</a></li>
				<li><a href="#"><span class="foot_icon_3"></span><br />个人中心</a></li>
				<li><a href="#"><span class="foot_icon_4"></span><br />更 多</a></li>
			</ul>
		</div>
	</footer>
	<!-- 底部导航END -->
	<style>
		html,body{ min-height: 100%; background-color: #f7f7f7;}
	</style>
</body>
</html>