<!-- 我的投资 -->
<section>
    <ul class="mdtz_list">
        <li ng-repeat="item in itemList">
            <a ng-href="">
                <p>150319001140889085317<span class="right col_950">付款成功</span></p>
                <p>
                    <b>“银票红一号”2015017期【五一专享】</b>
                    <span>年化收益 <span class="col_red">9.80%</span>购买时间&nbsp;&nbsp;2015-05-03  15:00</span>
                </p>
                <p>
                    <span>投资金额&nbsp;&nbsp;<span class="col_333">¥ 322,000</span></span>
                    <span class="right">预期收益&nbsp;&nbsp;<span class="col_333">¥ 322,000</span></span>
                </p>
                <p class="text_r">
                    <a href="#" class="mdtz_a">转让</a>
                    <a href="#" class="mdtz_a">详情</a>
                </p>
            </a>
        </li>

    </ul>
</section>