<!-- 我的投资 -->
<section>
    <ul class="mdtz_list">
        <li ng-repeat="item in itemList">
            <a ng-href="">
                <p>{{item.orderNo}}<span class="right col_950">{{item.statusName}}</span></p>
                <p>
                    <b>{{item.billName}}</b>
                    <span>年化收益 <span class="col_red">{{item.apr + '%'}}</span>购买时间&nbsp;&nbsp;{{item.payTime}}</span>
                </p>
                <p>
                    <span>投资金额&nbsp;&nbsp;<span class="col_333">{{'¥' + item.money}}</span></span>
                    <span class="right">预期收益&nbsp;&nbsp;<span class="col_333">{{'¥' + item.profit}}</span></span>
                </p>
                <p class="text_r">
                    <a href="#" class="mdtz_a">转让</a>
                    <a href="#" class="mdtz_a">详情</a>
                </p>
            </a>
        </li>
    </ul>
</section>